// main: ./usage-example.less, out: grid.min.css, compress: true

/* ===========================Reboot=========================== */

@import "./reboot.css";

/* =========================Unit Config======================== */

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem; // 1.6rem == 16px
}

/* ==========================Variables========================= */

@cols-count: 12;
@gutter: 1.5rem; // 1.5rem == 15px

// @sm: ~'(min-width: 36rem)'; // *16= 576px
@sm: ~'(max-width: 47.9375rem)'; // *16= 767px
@md: ~'(min-width: 48rem)'; // *16= 768px
@lg: ~'(min-width: 62rem)'; // *16= 992px
@xl: ~'(min-width: 75rem)'; // *16= 1200px

/* ===========================Grid=========================== */

@import "./grid.less";

/* ========================================================== */